body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1383px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1366px;
  height:768px;
  display:flex;
}
#u2549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1366px;
  height:75px;
  display:flex;
}
#u2550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:28px;
  width:40px;
  height:40px;
  display:flex;
}
#u2551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:40px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:40px;
  width:100px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
  background:inherit;
  background-color:rgba(52, 152, 219, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:40px;
  width:111px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u2554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:40px;
  width:111px;
  height:45px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
}
#u2555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:587px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:870px;
  width:844px;
  height:587px;
  display:flex;
}
#u2556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:850px;
  width:175px;
  height:40px;
  display:flex;
}
#u2557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:936px;
  width:525px;
  height:75px;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u2559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:350px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u2560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:0px;
  width:84px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u2561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:82px;
  height:40px;
  display:flex;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:35px;
  width:350px;
  height:40px;
  display:flex;
  text-align:left;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:35px;
  width:84px;
  height:40px;
  display:flex;
}
#u2564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:870px;
  width:185px;
  height:66px;
  display:flex;
}
#u2565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:916px;
  width:798px;
  height:22px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:956px;
  width:812px;
  height:451px;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:35px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:661px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:151px;
  height:30px;
  display:flex;
}
#u2570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:30px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:35px;
  width:661px;
  height:30px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:58px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:151px;
  height:58px;
  display:flex;
}
#u2572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:58px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:65px;
  width:661px;
  height:58px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:151px;
  height:30px;
  display:flex;
}
#u2574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:30px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:123px;
  width:661px;
  height:30px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:151px;
  height:40px;
  display:flex;
  font-family:'PingFang-SC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:40px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:153px;
  width:661px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:202px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:193px;
  width:151px;
  height:202px;
  display:flex;
}
#u2578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:202px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:193px;
  width:661px;
  height:202px;
  display:flex;
  text-align:left;
}
#u2579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:395px;
  width:151px;
  height:30px;
  display:flex;
}
#u2580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:30px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:395px;
  width:661px;
  height:30px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:425px;
  width:151px;
  height:30px;
  display:flex;
}
#u2582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:30px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:425px;
  width:661px;
  height:30px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:215px;
  width:1319px;
  height:198px;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:38px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:184px;
  height:38px;
  display:flex;
  font-family:'PingFang-SC-Regular', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:0px;
  width:111px;
  height:38px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:38px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:0px;
  width:211px;
  height:38px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:0px;
  width:160px;
  height:38px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u2589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:38px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:0px;
  width:135px;
  height:38px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:0px;
  width:81px;
  height:38px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:0px;
  width:139px;
  height:38px;
  display:flex;
  font-family:'PingFang-SC-Regular', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:0px;
  width:148px;
  height:38px;
  display:flex;
  font-family:'PingFang-SC-Regular', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:38px;
  width:184px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:38px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:38px;
  width:211px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:38px;
  width:160px;
  height:40px;
  display:flex;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:38px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:38px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:38px;
  width:139px;
  height:40px;
  display:flex;
}
#u2601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:38px;
  width:148px;
  height:40px;
  display:flex;
  color:#3498DB;
}
#u2602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:78px;
  width:184px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:78px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:78px;
  width:211px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:78px;
  width:160px;
  height:40px;
  display:flex;
}
#u2607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:78px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:78px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:78px;
  width:139px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:78px;
  width:148px;
  height:40px;
  display:flex;
  color:#3498DB;
}
#u2611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:118px;
  width:184px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:118px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:118px;
  width:211px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:118px;
  width:160px;
  height:40px;
  display:flex;
}
#u2616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:118px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:118px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:118px;
  width:139px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:118px;
  width:148px;
  height:40px;
  display:flex;
  color:#3498DB;
}
#u2620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:158px;
  width:184px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:158px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:158px;
  width:211px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:158px;
  width:160px;
  height:40px;
  display:flex;
}
#u2625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:158px;
  width:135px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:158px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'苹方 常规', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:158px;
  width:139px;
  height:40px;
  display:flex;
}
#u2628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:158px;
  width:148px;
  height:40px;
  display:flex;
  color:#3498DB;
}
#u2629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:140px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:140px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2631 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2631_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:140px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2632_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:140px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9EA7B4;
}
#u2633 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2633_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3498DB;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:140px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'PingFang-SC-Bold', 'PingFang SC Bold', 'PingFang SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#3498DB;
}
#u2634 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2634_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1319px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:178px;
  width:1319px;
  height:2px;
  display:flex;
}
#u2635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:726px;
  width:38px;
  height:38px;
  display:flex;
}
#u2642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:744px;
  width:12px;
  height:19px;
  display:flex;
}
#u2643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2643_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
